<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="card-img-top"
                         [src]="card.photo"
                         alt="{{ card.name }}" />
                </div>
                <div class="col">
                    <div class="card-credentials">
                        <h6 class="card-title">Professional name</h6>
                        <h5 class="card-subtitle">Psicologyst <span>| Lisbon</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-bottom">
            <br>
            <div class="card-text mb-2 text-muted">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ullam perspiciatis tenetur
                    laboriosam
                    cupiditate odio, dolore voluptatibus necessitatibus dignissimos blanditiis totam!
                    Consectetur
                    distinctio, nisi assumenda non quis cupiditate molestiae nobis.
                </p>
            </div>
        </div>
    </div>
</div>