<div class="card">
    <div class="card-header">
        <div class="schedule-title">{{ schedule.header }}</div>
        <div class="schedule-subtitle">
            Timezone: {{ schedule.subheader }}
        </div>
    </div>

    <div class="card-body">
        <div class="row weekdays">
            <div class="col-sm">

                <div class="arrow-left">
                    <fa-icon [icon]="left" (click)="scrollLeft()"></fa-icon>
                </div>

                <div #widgetsContent class="middle">
                    <div class="info-widget" id="info-widget" *ngFor="let date of schedule.content.dates; let i = index">
                        <div (click)="setDate(date)">
                            <a href="home#">
                                <p>{{ date.weekday }} <br> {{ date.day }}</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="arrow-right">
                    <fa-icon [icon]="right" (click)="scrollRight()"></fa-icon>
                </div>

            </div>
        </div>
    </div>

    <div class="card-bottom" *ngIf="schedule.footer">
        <br />
        <div class="card-text mb-2 text-muted">
            <p>{{ schedule.footer }}</p>
        </div>
    </div>
</div>

<div class="card card-slots" *ngIf="true">
    <div class="card-body">
        <div class="flex-container">
            <div class="slots-col ">
                <div class=" col-sm slots-info">
                    <!-- 
                        Deixei esse trecho propositalmente para 
                        exemplificar slots de tempo ocupados 
                    -->
                    <div *ngFor="let slot of schedule.content.slots; let i = index; let first = first; let last = last">
                        <div class="slot" *ngIf="i % 7 == 6 && !last">
                            <a href="home#last1{{i+6}}">MORE</a>
                        </div>
                        <div [ngClass]="{'slot': slot.scheduled}">
                            <a href="home#" (click)="setTime(slot)" *ngIf="slot.scheduled==1">
                                {{slot.time}}
                            </a>

                            <span *ngIf="slot.scheduled==0">
                                -
                            </span>

                        </div>
                        <div id="last1{{i+6}}"></div>
                    </div>
                </div>
            </div>
            <div class="slots-col ">
                <div class=" col-sm slots-info">
                    <div *ngFor="let slot of schedule.content.slots; let i = index; let first = first; let last = last">
                        <div class="slot" *ngIf="i % 7 == 6 && !last">
                            <a href="home#last2{{i+6}}">MORE</a>
                        </div>
                        <div [ngClass]="{'slot': slot.time != '-' , 'slot-free': slot.time == '-'}">
                            <a href="home#" (click)="setTime(slot)">{{slot.time}}</a>
                        </div>
                        <div id="last2{{i+6}}"></div>
                    </div>
                </div>
            </div>

            <div class="slots-col ">
                <div class=" col-sm slots-info">
                    <div *ngFor="let slot of schedule.content.slots; let i = index; let first = first; let last = last">
                        <div class="slot" *ngIf="i % 7 == 6 && !last">
                            <a href="home#last3{{i+6}}">MORE</a>
                        </div>
                        <div [ngClass]="{'slot': slot.time != '-' , 'slot-free': slot.time == '-'}">
                            <a href="home#" (click)="setTime(slot)">{{slot.time}}</a>
                        </div>
                        <div id="last3{{i+6}}"></div>
                    </div>
                </div>
            </div>

            <div class="slots-col ">
                <div class=" col-sm slots-info">
                    <div *ngFor="let slot of schedule.content.slots; let i = index; let first = first; let last = last">
                        <div class="slot" *ngIf="i % 7 == 6 && !last">
                            <a href="home#last4{{i+6}}">MORE</a>
                        </div>
                        <div [ngClass]="{'slot': slot.time != '-' , 'slot-free': slot.time == '-'}">
                            <a href="home#" (click)="setTime(slot)">{{slot.time}}</a>
                        </div>
                        <div id="last4{{i+6}}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card-bottom">
        <div class="card-text mb-2 text-muted">
            <button class="btn btn-primary" (click)="add()">Add</button>
            <hr>
            <p *ngIf="appointmentsList.length">Schedules: </p>
            <div *ngFor="let item of appointmentsList" class="schedule-results">
                <ul>
                    <li>{{item.date.weekday}} - {{item.date.day}} - {{item.time.time}}
                        <fa-icon [icon]="remove" (click)="rm(item.id)" title="Remove Schedule" alt="Remove Schedule"></fa-icon>&nbsp;
                    </li>
                </ul>
            </div>
        </div>

        <div class="alert alert-danger" *ngIf="alert.danger">
            <small>{{alert.danger}}</small>
        </div>
        <div class="alert alert-success" *ngIf="alert.success">
            <small>{{alert.success}}</small>
        </div>

    </div>

</div>