<div class="card">

    <div class="card-header">
        <div class="schedule-title">{{ schedule.header }}</div>
        <div class="schedule-subtitle">
            Timezone: {{ schedule.subheader }}
        </div>
    </div>

    <div class="card-body">
        <div class="row weekdays">
            <div class="col-sm">
                <div class="arrow-left">
                    <fa-icon [icon]="faAngleDoubleLeft" (click)="scrollLeft()"></fa-icon>
                </div>

                <div class="col-sm">
                    <div #widgetsContent class="middle">
                        <div class="info-widget" *ngFor="let date of schedule.content.dates; let i = index">
                            <div (click)="setDate(date)">
                                <p>{{ date.weekday }}</p>
                                <p>{{ date.day }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="arrow-right">
                        <fa-icon [icon]="faAngleDoubleRight" (click)="scrollRight()"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-bottom" *ngIf="schedule.footer">
        <br />
        <div class="card-text mb-2 text-muted">
            <p>{{ schedule.footer }}</p>
        </div>
    </div>
</div>

<div class="card card-slots" *ngIf="true">
    <div class="card-body">
        <div class="flex-container">
            <div class="slots-col ">
                <div class=" col-sm slots-info">
                    <div *ngFor="let slot of schedule.content.slots; let i = index">
                        <div [ngClass]="{'slot-free': slot.time != '-' , 'slot': slot.time == '-'}">
                            -
                        </div>
                    </div>
                </div>
            </div>
            <div class="slots-col ">
                <div class=" col-sm slots-info">
                    <div *ngFor="let slot of schedule.content.slots; let i = index; let first = first; let last = last">
                        <div class="slot" *ngIf="i % 7 == 6 && !last">
                            <a href="home#last1{{i+6}}">MORE</a>
                        </div>
                        <div [ngClass]="{'slot': slot.time != '-' , 'slot-free': slot.time == '-'}">
                            <a href="home#" (click)="setTime(slot)">{{slot.time}}</a>
                        </div>
                        <div id="last1{{i+6}}"></div>
                    </div>
                </div>
            </div>

            <div class="slots-col ">
                <div class=" col-sm slots-info" #slotContent2>
                    <div *ngFor="let slot of schedule.content.slots; let i = index; let first = first; let last = last">
                        <div class="slot" *ngIf="i % 7 == 6 && !last">
                            <a href="home#last2{{i+6}}">MORE</a>
                        </div>
                        <div [ngClass]="{'slot': slot.time != '-' , 'slot-free': slot.time == '-'}">
                            <a href="home#" (click)="setTime(slot)">{{slot.time}}</a>
                        </div>
                        <div id="last2{{i+6}}"></div>
                    </div>
                </div>
            </div>

            <div class="slots-col ">
                <div class=" col-sm slots-info">
                    <div *ngFor="let slot of schedule.content.slots; let i = index; let first = first; let last = last">
                        <div class="slot" *ngIf="i % 7 == 6 && !last">
                            <a href="home#last3{{i+6}}">MORE</a>
                        </div>
                        <div [ngClass]="{'slot': slot.time != '-' , 'slot-free': slot.time == '-'}">
                            <a href="home#" (click)="setTime(slot)">{{slot.time}}</a>
                        </div>
                        <div id="last3{{i+6}}"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="card-bottom">
        <div class="card-text mb-2 text-muted">
            <!-- <p *ngIf="appointment.date && appointment.time">Date: {{appointment.date | json}}
                <br> Time: {{appointment.time | json}}
            </p> -->
            <button class="btn btn-primary">Schedule</button>
        </div>
    </div>

</div>