<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="content-img-top"
                 [src]="content.photo"
                 alt="{{ content.name }}" />
        </div>
        <div class="col-8">
            <div class="content-data">
                <h6 class="content-title">{{content.name}}</h6>
                <h5 class="content-subtitle">{{content.subtitle}} 
                    <span>| {{content.location}}</span>
                    <br>
                    <div class="fav"></div> <span> ({{content.reviews}} reviews)</span>
                </h5>
                <h5 class="content-price">{{content.price | currency:'BRL'}} <span> / {{content.time}} MINUTES</span></h5>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="content-text mb-2 text-muted">
                <p>{{content.text}}</p>
            </div>
        </div>
    </div>
</div>