.schedule-title {
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.schedule-subtitle {
  font-size: 0.7rem;
  color: #fff;
  flex-wrap: nowrap;
}

.schedule-text {
  padding-top: 4%;
  font-size: 0.7rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto !important;
  margin-right: auto !important;
}

.box {
  border: solid 1px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.container > div {
  flex: 1;
  text-align: center;
  margin: 10px;
}

.container::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}
