/* You can add global styles to this file, and also import other style files */

.card-header {
    text-align: center;
    color: white;
}

.card-header {
    background-color: dodgerblue;
}

.card {
    transition: 0.2s ease-in;
    box-shadow: 3px 3px 12px #c7c7c7, -3px -3px 12px #ffffff;
}

.card-title {
    font-weight: bold;
    color: #777;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}

.card-subtitle {
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: cornflowerblue;
    flex-wrap: nowrap;
}

.card-text {
    padding-top: 4%;
    font-size: 0.7rem;
}

.card-link {
    font-size: 10pt;
    color: #333;
    padding: 0 0 0 10% !important;
}

.card-link:hover {
    font-size: 10pt;
    color: blue;
    padding: 0 0 0 10% !important;
}